// 浮动、清除浮动
@mixin clearfix {
  &:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    content: '';
    zoom: 1;
  }
}

// 滚动条修改
@mixin scrollBar {
  &::-webkit-scrollbar-track-piece {
    background: #d3dce6;
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 20px;
  }
}

// 水平垂直都居中
@mixin levelVerticalCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
// 超出省略号
@mixin textEllipsis($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
}
